.streetview {
    &--map {
        display: none;
    }
    &--pano {
        width: 100%;
        height: 480px;
    }
    &--notavailable {
        font-weight: bold;
    }
}

.hide {
    display: none;
}

agm-map {
    height: 480px;
}